@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Last";
    Layout = "~/Views/Navbar/View.cshtml";
    string mail = Context.Session.GetString("mail");
}

<!DOCTYPE html>
<html>
<body class="body-wrapper">
    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-details">
                        <h1 class="product-title">Last Judgement</h1>
                        <div class="product-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="/Index/Michelangelo">Michelangelo</a></li>
                            </ul>
                        </div>
                        <br />
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/premium/images/works/Last Judgement .jpg" class="d-block w-100" alt="product-img" style="max-height:750px">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/premium/images/works/Last2.jpg" class="d-block w-100" alt="product-img" style="max-height:750px">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <br />
                        <div class="widget price text-center">
                            <h4>Price</h4>
                            <p>₺200</p>
                            <form action="/Sepet/Se" class="align-content-end">
                                <input name="UserMail" type="hidden" value="@mail" />
                                <input name="Sanatci" type="hidden" value="Michelangelo" />
                                <input name="UrunAd" type="hidden" value="Last Judgement" />
                                <input name="Adet" type="number" min="1" max="100" value="1" />
                                <input name="Price" type="hidden" value="200" />
                                <button class="btn btn-dark" type="submit">Sepete Ekle</button>
                            </form>
                        </div>
                        <div class="content mt-5 pt-5">
                            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                       aria-selected="true">Ürün Detayı</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                       aria-selected="false">Sanatçının Hayatı</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Ürün Açıklaması</h3>
                                    <p>
                                        1534’te Michelangelo, Papa Julius II’nin mezarını tamamlamak için Roma’daydı. Hani, Papa Julius II’nin hayattayken Michelangelo’ya görev verdiği, ama bir türlü içine sindiği gibi tamamlaması kısmet olmayan mezar. Roma’ya gittiğinde Papa VII.Clemens yeni vefat etmişti, yerine gelen Papa III.Paulus hiç vakit kaybetmeden Michelangelo’ya yeni bir görev vermek istedi. Michelangelo önce mezarı tamamlaması gerektiği bildirdi, ama nafile, III.Paulus yıllardır Michelangelo’yla çalışmanın hayalini kuruyordu. Papa, stüdyosuna yaptığı ani bir ziyarette, Mahşer’in eskizlerini gördü. Mahşer’in yapılacağı yer belliydi ama Papa ona da itiraz etti. Papa Julius II için bu kadar onurlandırma yeterdi, mahşeri geliştirip Sisitina Şapeli’ndeki bir duvara yapmasını istedi. Emir, en büyük yerden gelmişti. Michelangelo için kaçış yoktu, o resmi öyle ya da öyle yapacaktı.
                                    </p>
                                    <p>
                                        24 yıl sonra, ızdırap çekerek yarattığı harikalar diyarına, Sistina Şapeli’nin tavanının altına tekrar duruyordu. 1 yıl süresince kompozisyon üzerinde çalıştı, iskeleler kuruldu, alçılar sıvandı. Dante’nin İlahi Komedya’sındaki Kıyamet Günü anlatımını baz aldı. Yaklaşık 6 yıl gibi bir sürede freskoyu tamamladı. Çoğu zaman sadece bir dilim ekmek yiyerek, iskelede uyuyarak çalıştı. Ayakkabılarını çıkarmadığından, artık ayakkabısı, kendi derisine yapışmıştı.
                                    </p>
                                    <p>
                                        The Last Judgement’da İsa’nın ölü ruhları yargılamak üzere ikinci gelişi anlatılır. İsa, kendinden emin sağ kolunu kaldırmış, bu defa barışa çağrı yapmak için değil, yargılamak için gelmiştir. Meryem hem İsa’nın yanındadır, hem de korkuyla yüzünü diğer yöne çevirmiştir. 7 melek, korkunç borazanlarını çalar, mezarlar açılır. Ruhlar İsa’nın etrafını çerçevelemiş, azizler ve günahkarlar arasında kargaşa… Neredeyse 3 boyutlu his verecek bir şaheserdi. Ancak tasvir, İsa ölüleri hazırlıksız yakaladığı mantığına paralel olarak, azizler de dahil olmak üzere, tüm figürlerin inanılmaz bir çıplaklığını içeriyordu. Yani, olayların çıkacağı ta başından aşikardı. Michelangelo,  bu resmi yaparken önüne çıkan herkesi, itinayla korkunç karakterlerin suretleri olarak kompozisyona eklemişti. Edebiyatçı Aretino, Michelangelo’nun maşheri tavsir edeceği haberini almasıyla, mahşerin neleri içermesi gerektiğini, karakter detaylarına kadar tavsir edip, edebi bir mektupla Michelangelo’ya göndermişti. Aretino’nun amacı açıktı, bir şaheser daha ortaya çıkacağı belliydi, bu onun da kendine pay çıkarması, övgü alması için bir fırsattı. Michelangelo kibarlıkla mektubu cevapladı, teşekkür etti ama kompozisyonu bitirdiğini, bunları ekleyemeyeceğini açıkça bildirdi. Resim bittiğinde Aretino, derisi yüzülerek öldürülen St.Bartolomeus olarak resmedilmişti. St.Bartolomeus bir elinde yüzüldüğü bıçağı İsa’ya gösteriyor, diğer elinde ise bir paçavra gibi derisini tutuyordu. Yüzülen derinin ızdırap içindeki çarpıltılmış yüzü ise Michelangelo’nun yüzüydü.
                                    </p>
                                    <p>
                                        Papa, tören sorumlusu Biagio ile resim yapılırken ziyaretlerde bulunmuştu. Biagio resmi gördüğünde, bunun bir utanç tablosu olduğunu, genelevde bile bu kadar çıplaklığın utandırıcı olduğunu söyledi, kaldı ki burası Vatikan’dı. Michelangelo’nun tepkisi gecikmedi, Biagio’yu sağ alt köşede görünen zebani Minos olarak freskoya ekledi. Biagio, Minos yakıştırması üzerine deliye döndü, durumu Papa’ya şikayet etti. Ama görünen o ki, Papa esprili biriydi. Biagio’ya “Eğer Michelangelo seni Araf’ta resmetseydi elimden geleni yapardım, ama seni cehenneme koymuş, cehennemdekilere kimse yardım edemez!” dedi.
                                    </p>
                                    <p>
                                        1941’de resim tamamlandı ve bir ayinle sergilendi. Resmi gören kalabalıktan tuhaf itiraz sesleri yükseldi, bu çıplaklık karşısında nefesler kesilmişti. Papa III.Paulus fazlasıyla açık görüşlüydü. Eleştirleri dert etmedi. Ama sonradan Papa Paul IV olarak anılacak olan Kardinal Carafa, bir “incir yaprağı” kampanyası başlatarak, 24 yıl sonra resmin sansürlenmesini sağladı. Michelangelo’nun öğrencilerinden olan, Daniele da Volterra’ya mahrem yerleri kapatması görevi verildi, bundandır ki Volterra’nın lakabı “pantoloncu” olarak kaldı. Marcello Venusti’nin 1549’da, yani sansürden önce yaptığı The Last Judgement kopyası, bugün nelerin sansürlendiğinin bir ispatı olabilir. Ama söz konusu sansür olunca, elimizdeki bilgilerin ne kadarı gerçeği yansıtıyor, şüpheli.. Yani orjinali de sansürlenmiş olabilir. Orijinal resmin kopyası Napoli’deki Capodimonte Müzesi’nin arşivlerinde bulunuyor.
                                    </p>
                                    <p>
                                        1993’te yapılan restorasyon sırasında sansür için eklenen bazı kısımlar çıkarıldı. Böyleye ortaya çıktı ki, Michelangelo’nun bu işi tamamlarken siniri bozan Aretino ve Biagio’ya tek cezası onları kötü karakterler olarak resmetmiş olması değildi. İncir yaprağı kalkınca ortaya çıktı ki, Aretino’yu bir kadın, Biagio’yu ise cinsel organı bir yılan tarafından ısırılırken tasvir etmişti.
                                    </p>
                                    <p>
                                        Michelangelo’nun “The Last Judgement”ı Vatikan için de bir bilmece. Değişen görüşler, farklı fikirler, yeni Papa’lar “The Last Judgement”ın gelecek nesillere ne şekilde ulaşacağı ile ilgili bir belirsizlik. Gidenler bilir, Sistina Şapel’de fotoğraf çekmek yasaktır, ama en çok “The Last Judgement”ı çekmek yasaktır. Fotoğraf makinesi ile çekmeye kalkarsanız kapı dışarı ediliyorsunuz.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <h3 class="tab-title">Sanatçının Hayatı</h3>
                                    <p>
                                        Michelangelo, 6 Mart 1475 tarihinde Caprese'de dünyaya geldi. Çok küçük yaşlarında ailesiyle bilrikte Floransa'ya geldi.
                                        6 yaşındayken annesini kaybetti.
                                        13 yaşındayken dönemin ünlü sanatçılarından Domenico Ghirlandaio'nun yanında eğitim almaya başladı.
                                        Henüz 26 yaşındayken, sanattaki yeteneğini ispat ettiği "Kral Davud" heykelini yaptı. (!Müstehcen!)
                                        1505 senesinde Papa II. Julius tarafından kendisine, en önemli başarılarından biri olarak görülen Vatikan’ın yanındaki Sistine Şapeli’nin tavan resimlerinin yapılması işi verildi. 3 sene sonra başlayacağı bu görevi sanatçı, 520 metrekarelik bir alanda yaklaşık dört yıllık bir çalışmanın ürünü olarak bitirdi.
                                        Rönesans sanatına benzersiz bir etkide bulunan Michelangelo, klasik sanat tekniklerini uygulamasının yanı sıra, esas olarak, aynı Leonardo da Vinci gibi insan formunu her açıdan tasvir edebilmek maksadıyla kadavralar üzerinde çalışıp, Yunan ve Roma sanatından esinlendiği idealleştirilmiş insan tasarımlarını ulaştığı gerçekçilik boyutuyla yakalamaya çalıştı.
                                        Batı resminin babası olarak kabul edilen Giotto’nun resmindeki doğal ve gerçekçi yaklaşım ile 15. yüzyıl başında tam olarak anlaşılabilen derinlikte perspektif olgusunu geliştirip kendi tarzına temel yapan Michelangelo, onlarca heykel, freske imza atıp Roma’nın yeniden inşa ve düzenlenmesinde de önemli görevler almıştır. Günümüzde birçok sanatçı, Michelangelo'u numune-i imtisal olarak görmektedir.
                                        Uzun yıllar sanat kariyerine devam eden Michelangelo, hayatının son dönemini Roma’daki Aziz Peter Kilisesi’nin mimarı olarak geçirmiş ve 18 Şubat 1564 tarihinde 89 yaşında hayatını kaybetmiştir.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>
</html>

