@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "The";
    Layout = "~/Views/Navbar/View.cshtml";
    string mail = Context.Session.GetString("mail");
}

<!DOCTYPE html>
<html>
<body class="body-wrapper">
    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-details">
                        <h1 class="product-title">The Last Supper</h1>
                        <div class="product-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="/Index/Leonardo">Leonardo da Vinci</a></li>
                            </ul>
                        </div>
                        <br />
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/premium/images/works/The Last Supper .jpg" class="d-block w-100" alt="product-img" style="max-height:750px">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/premium/images/works/The2.jpg" class="d-block w-100" alt="product-img" style="max-height:750px">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <br />
                        <div class="widget price text-center">
                            <h4>Price</h4>
                            <p>₺200</p>
                            <form action="/Sepet/Se" class="align-content-end">
                                <input name="UserMail" type="hidden" value="@mail" />
                                <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                <input name="UrunAd" type="hidden" value="The Last Supper" />
                                <input name="Adet" type="number" min="1" max="100" value="1" />
                                <input name="Price" type="hidden" value="200" />
                                <button class="btn btn-dark" type="submit">Sepete Ekle</button>
                            </form>
                        </div>
                        <div class="content mt-5 pt-5">
                            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                       aria-selected="true">Ürün Detayı</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                       aria-selected="false">Sanatçının Hayatı</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Ürün Açıklaması</h3>
                                    <p>
                                        Son Akşam Yemeği (Cenacolo), Milano’da Santa-Maria delle-Grazie’nin yemek salonunda.  Burası  İtalya'nın kuzeyinde, Milano şehrinde yer alan mimarlar Donato Bramante ile Guiniforte Solari’nin inşa ettikleri ve 1497’de açılmış bir kilise ve Dominikan manastırı. 1980 yılında UNESCO tarafından Dünya Mirası olarak ilan edildiğini de ekleyelim. İşte bu kilisede bulunan ve 1495 -1498 yılları arasında yapılan 9.10x4.20 m. ölçüsündeki bu freskin her tarafı aradan yarım yüzyıl geçmeden çatlamış, boyaları dökülmüş, beceriksiz ellerin onarımlarıyla eser büsbütün berbat bir duruma düşmüştür. O dönemde normalde freskler ıslak sıva üzerine boyanırdı ama Leonardo di ser Piero da Vinci (1452-1519) çeşitli nedenlerden dolayı bu geleneksel tekniği reddetti. Bu tekniği reddetmesinin temel nedeni daha canlı renkler elde etmeyi istemesiydi.
                                    </p>
                                    <p>
                                        İkinci dünya savaşında ağır bombardımana tutulan Milano şehrinde Santa Maria Della Grazie kilisesi de bombalardan nasibini almıştı. Fakat neyse ki, yöre halkı savaşın acımasız koşullarında tarih ve sanat bilinciyle, eseri kum torbaları ile kapatıp korumayı başarabildiler. Yine de bombardıman esere ciddi hasar verdi.
                                    </p>
                                    <p>
                                        Da Vinci her ayrıntıyı mükemmel bir şekilde çizebilmek için kendi tekniğini icat etti, taş üzerinde tempera boyalar* kullandı, neme karşı özel bir astar geliştirdi. Ancak bu tekniğin başarılı olduğu pek söylenemez. Daha 16. yüzyılın başlarında boya dökülmeye ve çürümeye başlamış, 50 yıl içerisinde ise Son Akşam Yemeği’nin eski ihtişamı bir harabeyi andırmıştı. Yapılan restorasyon işlemleri ise durumu daha da kötüleştirdi. 2. Dünya Savaşı sırasında gerçekleşen bombardıman eser üzerinde ciddi hasarlar bırakmıştı.  1980 yılında başlayan yenileme işlemi tam yirmi sene sürmüştür.
                                    </p>
                                    <p>
                                        Son Akşam Yemeği’nin konusu İncil’dendir. İncil’de şöyle der: ‘’Hamursuzun birinci gününde havariler sofranın nerede hazırlanacağını sordular. (Hamursuz: Yahudilerin 7 Nisan ile 13 Nisan tarihlerinde mayasız ekmek yediği bir ibadettir. 14 Nisan akşamı ise bir kuzu kesilir ve bu kuzu sabah şafak vakti yenir).” İsa yemekteyken şöyle der; ‘’Size derim ki, içinizden biri beni ele verecek.’’ Çok üzülen havariler telaşlanarak ‘’Ben miyim?’’ diye sormaya başlarlar. İsa şöyle cevap verir; ‘’Benimle birlikte sahana ekmek banan biri, bana ihanet edecek. Tanrı’nın oğlu alnına yazıldığı için gidiyor, ama Tanrı’nın Oğlu’na ihanet edenin başına gelecekleri düşünün! Hiç doğmasaydı onun için daha iyi olurdu.’’ İşte o zaman Yahuda İskariot ‘’Ben miyim ?’’ dediğinde İsa, ‘’Ağzınla söyledin’’ der. Devamında İsa onlara yemek yiyecekleri evi gösterir ve akşam olduğunda hepsi evde toplanır. Bu sırada on iki havariden biri olan Yahuda İskariot İsa’yı öldürmek isteyen başrahiplere, otuz gümüş karşılığında Hz.İsa’yı ele vereceğine dair söz vermiştir. Bu yüzden de uygun bir fırsat kollamıştır.
                                    </p>
                                    <p>
                                        Resimde Mesih ve  On İki Havarisi vardır. Havarilerinden biri ona ihanet edilmek üzere olunduğunu kulağına fısıldamaktadır. Da Vinci’nin bu eseri bitirmesi üç yıl alır ve son yemekte yaşanan dramı olağanüstü bir şekilde yakalar. Gökyüzünde bir yerdeymiş izlenimi veren salon ve yemekte hazır bulananların ifadeleri, duruşları sanki yaşanılacak olanları sezinletmektedir. Bu arada bilindiği üzere, Da Vinci kutsal mekânlar için birçok eser tasarlamıştır, Milano Katedrali için bir kubbe tasarımı öne çıkanlardan biridir.
                                    </p>
                                    <p>
                                        Son Akşam Yemeği tablosu İsa’nın yakalanıp çarmıha gerilmeden önceki son akşam yemeği olarak bilinmektedir. Ancak etrafına toplanan havarilerin pozisyonları ve vücut dilleri durumun bu kadar basit olmadığını bize göstermekte.  Havarilerin ona ihanet edeceği ya da diğer bir deyişle onu yalnız bırakacağı sezilmektedir. Masada yiyecek olarak şarap ve ekmeğin bulunması da bunun yeniden doğuşla sonuçlanacağını simgelemektedir.
                                    </p>
                                    <p>
                                        Eseri incelediğimizde uzun bir yemek masasının önünde, 12 Havariyi İsa’nın sağında ve solunda üçer kişilik kümeler halinde görüyoruz. Mesih: “Hakikatte size derim ki sizden biri beni ele verecektir” demiş ve bu söz havarilerin üzerinde derin bir tesir uyandırmıştır. Bu tesirin yankıları soldan sağa doğru kopan hareketlerde, çehrelerin aldığı değişik ifadelerde görülüyor. Her havari mizacına göre başka bir tavır takınmıştır. Biri “Ey Mesih o hain ben miyim?” der gibi, ellerini göğsünde birleştirmiş, bir başkası iyi işitip işitmediğini sormak için yanındakine eğiliyor, bazıları İsa’nın sözünü birbirine şüphe ve korku ile tekrarlayıp duruyorlar. Nihayet Yahuda, Ressam Giotto’nun çelimsiz, küçük Yahudisi gibi acınacak bir halde süklüm püklüm uzaklaşacağı yerde, masanın etrafında oturanlara derin bir nazar fırlatıyor, İsa’nın ağzından çıkan sözün anlaşılıp anlaşılmadığını, kendisi için tehlike olup olmadığını anlamaya çalışıyor. Bir yıldırım gibi sofraya düşen söz, bazı çehrelerde isyana, bazı çehrelerde tevekküle ve hüzne, bazılarındaysa şüphe ve korkuya dönüvermiştir. Eserde büyük bir değişiklik içinde bir organik birlik göze çarpmaktadır. Özetle muhteşem bir karakter tahlili.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <h3 class="tab-title">Sanatçının Hayatı</h3>
                                    <p>
                                        Leonardo di ser Piero da Vinci 15 Nisan 1452’de Floransa’da doğdu. Avrupa’daki modern isimlendirme kurallarından önce adı Leonardo di ser Piero da Vinci’dir. Bu adın manası, Vinci’li üstad Piero’nun oğlu Leonardo’dur.
                                    </p>
                                    <p>
                                        Da Vinci, ilk öğrenim yıllarında aritmetik ve geometride öğretmenlerinin sorduğu sorulara şaşırtıcı cevaplar verecek kadar iyiydi. Bu yeteneği ile küçük yaşlarda da dikkat çekiyordu. Çocukluk yıllarında yapmaktan en keyif aldığı iş resim çizmekti. Yalnızca resim çizmiyor, aynı anda lir de çalıyordu. Babası ondaki yetenekleri fark edince, onu Floransa’nın en önemli atölyelerinden birine çırak olarak verdi.
                                    </p>
                                    <p>
                                        14 yaşına kadar Vinci’de yaşadı büyükanne ve büyükbabasının yanında yaşadı. İkisi de ard arda ölünce Floransa’ya gitti. O donemde evlilik dışı çocukların üniversiteye gitmesi yasaktı ve maalesef Leonardo da babasının evlilik dışı bir ilişki sonucu dünyaya gelmiş bir çocuktu. Bu yüzden üniversitede okuma imkanı bulamadı.
                                    </p>
                                    <p>
                                        Dönemin ünlü heykeltıraşı Andrea del Verrocchio, Leonardo’nun resimlerinden etkilenip onu çırak olarak kabul etti. Burada yalnızca Verrocchio ile değil, Lorenzo di Credi ve Pietro Perugino gibi önemli sanatçılarla da çalışma fırsatı buldu. Leonardo lir çalmayı burada öğrenmişti.
                                    </p>
                                    <p>
                                        Da Vinci, 1482 senesinde Floransa’yı terk etti. Dünyaca ünlü, dünya tarihinin en olağanüstü iş başvurusu olarak kabul edilen mektubunu bu dönemde Milano Dükü Sforza için yazdı. Bu olağanüstü mektup sonucunda 17 yıl boyunca Milano Dükü için çalıştı. Dük için yalnızca resim veya heykel yapmadı, aynı zamanda bina, makine ve silah tasarımları yaptı.
                                    </p>
                                    <p>
                                        1485-1490 seneleri arasında doğa, mekanik, geometri, uçan makineler, kilise, kale ve kanal yapımı gibi alanlarda faaliyet gösterdi. Tüm bunların yanı sıra anatomi çalışmaları yaptı ve talebeler yetiştirdi.
                                    </p>
                                    <p>
                                        1499 yılında Milano’yu terk etti, 16 yıl boyunca İtalya’da seyahat etti. İnsanlık tarihinin en önemli resimlerinden biri olan Mona Lisa’yı bu dönemde yapmaya başladı. 1503 yılında yapmaya başladığı tahmin edilen Mona Lisa tablosunu resmi tamamladıktan sonra bile yanından hiç ayırmamış, tüm seyahatlerinde yanında götürmüştür.
                                    </p>
                                    <p>
                                        Leonardo da Vinci, 1513-16 seneleri arasında Roma’da yaşadı ve Papa için birçok projede yer aldı. Bu dönemde anatomi ve fizyoloji alanlarında çalışmaya devam etti. Fakat Papa, da Vinci’nin kadavralar üzerinde çalışmasını yasakladı.
                                    </p>
                                    <p>
                                        1516 yılında Kral 1. Francis’ten Fransa’nın baş ressam, mühendis ve mimar olmak için davet aldı. Bu davete icabet eden da Vinci, Amboise yakınlarındaki Kraliyet Sarayı’nın hemen yanında kendisi için hazırlanan konağa yerleşti.
                                    </p>
                                    <p>
                                        Anatomi çalışmaları, da Vinci’nin giderek daha çok üzerine yoğunlaştığı bir konu haline gelmişti. İnsan organizmasına, çalışma kurallarını merak ettiği mükemmel bir makine olarak yaklaşmıştır.
                                    </p>
                                    <p>
                                        Gördüğü, gözlemlediği her şeyi çizerek açığa kavuşturuyordu. Yaptığı ayrıntılı çizimlerle anatominin detaylarını ortaya çıkarıyordu. Çizimleri, bazı ufak yanlışlıklara rağmen son derece nettir. Meşhur anne karnındaki bebek çizimi için inekleri incelemiş ve elde ettiği sonuçları insanlara uyarlamıştır. Papa insan anatomisi üzerine çalışmasını yasakladıktan sonra ise dolaşım sistemi üzerine yaptığı araştırmasını sığır kalpleriyle çalışarak devam ettirmiştir.
                                    </p>
                                    <p>
                                        Leonardo da Vinci, 2 Mayıs 1519’da 67 yaşındayken Ambois’teki evinde yaşamını yitirdi. Kralın kollarında can verdiğine dair rivayetler vardır.
                                    </p>
                                    <p>
                                        Son sözleri ise “Çalışmalarım olması gereken kaliteye erişmediği için Tanrıyı ve insanlığı gücendirdim.” olmuştur. Ambois’teki Saint Florentin Kilisesi’nde toprağa verilmiştir.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>
</html>

