@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Van";
    Layout = "~/Views/Navbar/View.cshtml";
    string mail = Context.Session.GetString("mail");
}

<!DOCTYPE html>
<html>
<body class="body-wrapper">
    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-details">
                        <h1 class="product-title">Van Gogh self portrait</h1>
                        <div class="product-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="/Index/Vincent">Vincent van Gogh</a></li>
                            </ul>
                        </div>
                        <br />
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/premium/images/works/Van Gogh self portrait .jpg" class="d-block w-100" alt="product-img" style="max-height:750px">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/premium/images/works/Van2.jpg" class="d-block w-100" alt="product-img" style="max-height:750px">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <br />
                        <div class="widget price text-center">
                            <h4>Price</h4>
                            <p>₺200</p>
                            <form action="/Sepet/Se" class="align-content-end">
                                <input name="UserMail" type="hidden" value="@mail" />
                                <input name="Sanatci" type="hidden" value="Vincent van Gogh" />
                                <input name="UrunAd" type="hidden" value="Van Gogh self portrait" />
                                <input name="Adet" type="number" min="1" max="100" value="1" />
                                <input name="Price" type="hidden" value="200" />
                                <button class="btn btn-dark" type="submit">Sepete Ekle</button>
                            </form>
                        </div>
                        <div class="content mt-5 pt-5">
                            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                       aria-selected="true">Ürün Detayı</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                       aria-selected="false">Sanatçının Hayatı</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Ürün Açıklaması</h3>
                                    <p>
                                        Hollandalı ressam Vincent Van Gogh’un Norveç Ulusal Müzesi’nde sergilenen otoportresinin sanatçıya ait olup olmadığı yıllardır üzerinde araştırma yapılan bir konuydu. Yapılan araştırmalar sonucu, eserin Van Gogh’a ait olduğu kantılandı. Self Portrait (1889) uzmanlara göre Van Gogh’un psikoz tedavisi gördüğü yılda yaptığı tek eser olarak tanımlanıyor. Araştırma için Norveç’ten Hollanda’da bulunan Van Gogh müzesine gönderilen eserin yaklaşık beş yıl süren analizler sonucu sahte olmadığı kanısına varıldı.
                                    </p>
                                    <p>
                                        1970’li yıllardan beri gerçekliği tartışma konusu olan eser Hollanda Van Gogh Müzesi’nde yoğun bir araştırma ve analiz sürecinden geçirildi. Bu süreçte X-Ray aracılığı ile kanvasın taranması, fırça darbelerinin analizi ve Van Gogh’un kardeşi Theo’ya bu dönemde yazdığı mektuplar, eserin Van Gogh tarafından yapıldığına işaret ediyor.  Uzmanlar eserin 1889 yılında Saint-Remy Fransa’da bulunan ruh ve sinir hastalıkları hastanesinde yapıldığının sonucunu çıkarttılar. Eylül 1889 tarihli bir mektupta sanatçı kardeşine eserden psikoz tedavisi gödüğü zamanda yaptığı bir deneme olarak bahsettiği belirtiliyor. Sanatçı aynı zamanda altı hafta süren ağır bir psikotik kriz geçirdiğini ve sonlarına doğru resim yapmaya başlayabilmesine rağmen hala psikolojik olarak rahatsız olduğunu mektuplarında belirtmiş.
                                    </p>
                                    <p>
                                        Otoportrenin gerçekliğinin sorgulanması Van Gogh’un yaptığı diğer 35 otoportreden çok daha farklı olmasından kaylanklanıyor.  Van Gogh Müzesi’ndeki uzman araştırmacı Louis van Tilborgh, otoportrenin Van Gogh'un tekniklerine benzer olduğunu ama aynı zamanda önceki işleriyle ilgili kopukluklar olduğunu belirterek sanatçı ruh sağlığı bozukken bu eseri yapması sebebi ile rahatsızlığının kanvasa yansıtıldığı sonucuna vardıklarını söylemişti.
                                    </p>
                                    <p>
                                        Van Gogh’un aynı dönemde kullandığı renklerin eserdeki renklere göre daha canlı olması ve eserin bitirilmemiş görüntüsüne ait başlayan sorgulama ve araştırmaların sonucunda Self-Portrait (1889) eserinin Van Gogh’a ait olduğu sonuçlandı. Eser, şu an Van Gogh Müzesi’nde sergileniyor ve 2021 yılında Oslo’ya geri gönderilecek.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <h3 class="tab-title">Sanatçının Hayatı</h3>
                                    <p>
                                        Vincent Willem van Gogh 30 Mart 1853 - 29 Temmuz 1890), Hollandalı ard izlenimci ressam. Batı dünyası sanat tarihinin en tanınmış ve en etkili şahsiyetlerinden biridir. On yıldan biraz fazla bir süre içinde aralarında 860 yağlı boya tablonun da olduğu 2.100 kadar resim ve çizim çalışması üretti ve bunların çoğu yaşamının son iki yılında yapıldı. Bunların arasında manzaralar, natürmortlar, portreler ve otoportreler bulunmaktadır ve modern sanatın temelleri sayılan cür'etkâr renkler ile canlı, fevrî ve ifade dolu fırça darbeleriyle ayırt edilirler. 37 yaşında yıllardır süren psikolojik rahatsızlığı ve yoksulluğun ardından trajik bir biçimde kimilerine göre intihar, kimilerine göre bir cinayet sebebiyle silahla yaralandıktan birkaç gün sonra hayata veda etti.
                                    </p>
                                    <p>
                                        Üst orta sınıf bir aileye doğan van Gogh çocukken ciddi, sessiz ve saygılıydı ayrıca resim de yapmaktaydı. Gençliğinde sanat simsarı olarak çalıştı ancak Londra'ya gönderildikten sonra bunalıma girdi. Döndükten sonra Belçika'nın güneyinde Protestant misyoner olarak çalıştı. Sağlığı bozulup yalnızlık içinde yaşadıktan sonra ebeveynlerinin yanına döndü ve 1881 yılında resim yapmaya başladı. Küçük kardeşi Theo tarafından maddi olarak desteklendi ve ikisi yıllarca mektupla yazıştılar. Çoğunlukla natürmortlar ve çalışan köylülerin tasvirlerinden oluşan ilk çalışmalarında daha sonraki eserlerinin ayırt edici niteliği olan canlı renkler görülmez. 1886 yılında taşındığı Paris'te, izlenimci hassasiyete karşı tepki gösteren ve aralarında Émile Bernard ile Paul Gauguin'in de bulunduğu avangart üyeleriyle tanıştı. Çalışmaları geliştikçe natürmortlara ve yerel manzaralara yeni bir yaklaşım getirdi. Resimlerinde daha parlak renkler kullanmaya başladı ve daha sonra 1888'de Fransa'nın güneyinde kaldığı Arles'da ustalaşacağı kendine özgü bir üslûp geliştirdi. Bu dönemde zeytin ağaçları, selviler, buğday tarlaları ve ayçiçekleri de tuvallerine konu olmaya başladı.
                                    </p>
                                    <p>
                                        Psikotik epizodlardan ve delüzyonlardan muzdarip olan van Gogh zihin sağlığından endişe duymasına rağmen fiziksel sağlığını ekseriyetle ihmal etmiş düzgün beslenmemiş ve aşırı alkol almıştır. Gauguin ile arkadaşlığı bir ustura ile yolunu kesmesi ve öfke nöbeti sonucu sol kulağının bir kısmını keserek yaralaması sonucu sona ermiştir. Bir dönem Saint-Rémy'de olmak üzere akıl hastanelerinde kalmıştır. Hastaneden kendi isteğiyle ayrıldıktan sonra Paris yakınlarında Auvers-sur-Oise'da Auberge Ravoux'ya taşındı ve homeopati uygulayan doktor Paul Gachet tarafından tedavi edilmeye başladı. Depresyonu devam etti ve 27 Temmuz 1890'da bir altıpatlarla kendini göğsünden vurdu. İki gün sonra yaraları nedeniyle öldü.
                                    </p>
                                    <p>
                                        Yaşadığı sürede başarısız olan van Gogh'a deli gözüyle bakılıyordu. İntiharından sonra şöhret kazanan ressam halkın imgeleminde tipik yanlış anlaşılmış dahi, "çılgınlık ve yaratıcılığın bir arada olduğu söylemlerini"[2] gösteren bir ressam olarak yer almıştır. Resim üslûbunun ögeleri fovistler ve Alman dışavurumcuları tarafından kullanılmaya başladıktan sonra 20. yüzyılın başlarında ünü artmaya başlamıştır. Sonraki yıllar boyunca çok yaygın bir eleştirel, ticari ve popüler bir başarı yakalayan van Gogh sorunlu kişiliğinin romantik, azap çeken sanatçı idealini simgelediği önemli ama hüzünlü bir ressam olarak hatırlanmaktadır.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <footer class="footer section section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 offset-md-1 offset-lg-0">
                    <div class="block about">
                        <h2 style="font-size:60px;color:whitesmoke">İKARUS</h2>
                        <p class="alt-color">
                            Sanatseverleri nadide parçalar ile buluşturuyoruz
                        </p>
                        <p>
                            Kurucular:
                        </p>
                        <p>Bedirhan Alşan & Mehmet Batuhan Çakmakçıoğlu</p>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-1 col-md-3">
                    <div class="block">
                        <h3 style="color:whitesmoke">Sanatçılar</h3>
                        <ul>
                            <li><a href="/Index/Vincent">Vincent van Gogh</a></li>
                            <li><a href="/Index/Claude">Claude Monet</a></li>
                            <li><a href="/Index/Leonardo">Leonardo da Vinci</a></li>
                            <li><a href="/Index/Pablo">Pablo Picasso</a></li>
                            <li><a href="/Index/Michelangelo">Michelangelo</a></li>
                            <li><a href="/Index/Salvador">Salvador Dali</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <footer class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="social-media-icons text-center">
                        <li><a class="fa fa-facebook" href="#" target="_blank"></a></li>
                        <li><a class="fa fa-twitter" href="#" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="copyright" style="text-align:center">
                        <p>
                            Copyright ©
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>. Bütün Hakları Saklıdır
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-to">
            <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>

    <script src="~/premium/plugins/jQuery/jquery.min.js"></script>
    <script src="~/premium/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/premium/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/premium/plugins/bootstrap/js/bootstrap-slider.js"></script>
    <script src="~/premium/plugins/tether/js/tether.min.js"></script>
    <script src="~/premium/plugins/raty/jquery.raty-fa.js"></script>
    <script src="~/premium/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/premium/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/premium/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/premium/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="~/premium/js/script.js"></script>
</body>
</html>

