@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Leonardo";
    Layout = "~/Views/Navbar/View.cshtml";
    string mail = Context.Session.GetString("mail");
}

<html>
<body class="body-wrapper">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Leonardo da Vinci</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="product-grid-list">
                    <div class="row mt-30">
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Mona">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Mona Lisa .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Mona">Mona Lisa</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Leonardo"><i class="fa fa-user-o"></i>Leonardo da Vinci</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                            <input name="UrunAd" type="hidden" value="Mona Lisa" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/The">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/The Last Supper .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/The">The Last Supper</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Leonardo"><i class="fa fa-user-o"></i>Leonardo da Vinci</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                            <input name="UrunAd" type="hidden" value="The Last Supper" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Salvator">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Salvator Mundi .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Salvator">Salvator Mundi</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Leonardo"><i class="fa fa-user-o"></i>Leonardo da Vinci</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                            <input name="UrunAd" type="hidden" value="Salvator Mundi" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>

