@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Leonardo";
    Layout = "~/Views/Navbar/View.cshtml";
    string mail = Context.Session.GetString("mail");
}

<html>
<body class="body-wrapper">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Leonardo da Vinci</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="product-grid-list">
                    <div class="row mt-30">
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Mona">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Mona Lisa .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Mona">Mona Lisa</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Leonardo"><i class="fa fa-user-o"></i>Leonardo da Vinci</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                            <input name="UrunAd" type="hidden" value="Mona Lisa" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/The">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/The Last Supper .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/The">The Last Supper</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Leonardo"><i class="fa fa-user-o"></i>Leonardo da Vinci</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                            <input name="UrunAd" type="hidden" value="The Last Supper" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Salvator">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Salvator Mundi .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Salvator">Salvator Mundi</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Leonardo"><i class="fa fa-user-o"></i>Leonardo da Vinci</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Leonardo da Vinci" />
                                            <input name="UrunAd" type="hidden" value="Salvator Mundi" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <footer class="footer section section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 offset-md-1 offset-lg-0">
                    <div class="block about">
                        <h2 style="font-size:60px;color:whitesmoke">İKARUS</h2>
                        <p class="alt-color">
                            Sanatseverleri nadide parçalar ile buluşturuyoruz
                        </p>
                        <p>
                            Kurucular:
                        </p>
                        <p>Bedirhan Alşan & Mehmet Batuhan Çakmakçıoğlu</p>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-1 col-md-3">
                    <div class="block">
                        <h3 style="color:whitesmoke">Sanatçılar</h3>
                        <ul>
                            <li><a href="/Index/Vincent">Vincent van Gogh</a></li>
                            <li><a href="/Index/Claude">Claude Monet</a></li>
                            <li><a href="/Index/Leonardo">Leonardo da Vinci</a></li>
                            <li><a href="/Index/Pablo">Pablo Picasso</a></li>
                            <li><a href="/Index/Michelangelo">Michelangelo</a></li>
                            <li><a href="/Index/Salvador">Salvador Dali</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <footer class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="social-media-icons text-center">
                        <li><a class="fa fa-facebook" href="#" target="_blank"></a></li>
                        <li><a class="fa fa-twitter" href="#" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="copyright" style="text-align:center">
                        <p>
                            Copyright ©
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>. Bütün Hakları Saklıdır
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-to">
            <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>

    <script src="~/premium/plugins/jQuery/jquery.min.js"></script>
    <script src="~/premium/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/premium/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/premium/plugins/bootstrap/js/bootstrap-slider.js"></script>
    <script src="~/premium/plugins/tether/js/tether.min.js"></script>
    <script src="~/premium/plugins/raty/jquery.raty-fa.js"></script>
    <script src="~/premium/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/premium/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/premium/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/premium/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="~/premium/js/script.js"></script>    
</body>
</html>

