@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Vincent";
    Layout = "~/Views/Navbar/View.cshtml";
    string mail = Context.Session.GetString("mail");
}

<html>
<body class="body-wrapper">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Vincent Van Gogh</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="product-grid-list">
                    <div class="row mt-30">
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Wheatfield">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Wheatfield with Crows .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Wheatfield">Wheatfield with Crows</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Vincent"><i class="fa fa-user-o"></i>Vincent Van Gogh</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Vincent Van Gogh" />
                                            <input name="UrunAd" type="hidden" value="Wheatfield with Crows" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>

                                </div>
                            </div>



                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Starry">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Starry Night .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Starry">Starry Night</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Vincent"><i class="fa fa-user-o"></i>Vincent Van Gogh</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Vincent Van Gogh" />
                                            <input name="UrunAd" type="hidden" value="Starry Night" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">200₺</div>
                                        <a href="/Item/Van">
                                            <img class="card-img-top img-fluid" src="~/premium/images/works/Van Gogh self portrait .jpg" alt="Card image cap" style="height:400px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="/Item/Van">Van Gogh self portrait</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="/Index/Vincent"><i class="fa fa-user-o"></i>Vincent Van Gogh</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <form action="/Sepet/Se">
                                            <input name="UserMail" type="hidden" value="@mail" />
                                            <input name="Sanatci" type="hidden" value="Vincent Van Gogh" />
                                            <input name="UrunAd" type="hidden" value="Van Gogh self portrait" />
                                            <input name="Price" type="hidden" value="200" />
                                            <input name="Adet" type="number" min="1" max="100" value="1" />
                                            <button class="btn btn-main-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

